<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <!-- Left Frame -->
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1_first">
                        <img class="profile_image" src="images/Profile.jpg" />
                    </div>
                    <div class="left_1_second">
                        <%= user.name %>
                    </div>
                    <div class="left_1_third">
                        <%= user.profession %>
                    </div>
                    <div class="left_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-youtube.svg" class="icon-1"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-twitter.svg" class="icon-1" alt="icon svg"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-linkedin.svg" class="icon-1" alt="icon svg"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-instagram.svg" class="icon-1" alt="icon svg"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-facebook.svg" class="icon-1" alt="icon svg"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-dribbble.svg" class="icon-1" alt="icon svg"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer_top"></div>
                <div class="left_2">
                    <div class="left_2_first">
                        <p class="l_2_f_keys">Age:</p>
                        <p class="l_2_f_ageV"><%= user.age %></p>
                    </div>
                    <div class="left_2_second">
                        <p class="l_2_f_keys">Residence:</p>
                        <p><%= user.residence %></p>
                    </div>
                    <div class="left_2_third">
                        <p class="l_2_f_keys">Freelance:</p>
                        <p style="color: #7EB942;"><%= user.freelance %></p>
                    </div>
                    <div class="left_2_fourth">
                        <p class="l_2_f_keys">Address:</p>
                        <p><%= user.address %></p>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <p class="title">Languages</p>
                    <% user.language.forEach(lang => { %>
                        <div class="left_3_lang">
                            <p><%= lang.lang %></p>
                            <p><%= lang.score %></p>
                        </div>
                        <div class="lineM">
                            <img src="icon/Line.svg" alt="line icon svg"/>
                        </div>
                    <% }); %>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <p class="title">Skills</p>
                    <% user.skills.forEach(skill => { %>
                        <div class="left_4_skill">
                            <p><%= skill.skill %></p>
                            <p><%= skill.score %></p>
                        </div>
                        <div class="lineM">
                            <img src="icon/Line.svg" alt="line icon svg"/>
                        </div>
                    <% }); %>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <p class="title">Extra skills</p>
                     <% user.extra_skills.forEach((e_skill, i) => { %>
                        <div class="left_5_collection">
                            <img src="icon/Icons.svg" alt="icon svg"/>
                            <div class="left_5_e_skill" style="margin-left: 10px;">
                                <p><%= e_skill %></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="marginer"></div>
            </div>
            <!-- Left Frame -->

            <!-- Mid Frame -->
            <div class="mid_frame">
                <div class="mid_top">
                    <div class="mid_top_round_yellow"></div>
                    <div class="mid_top_round_green"></div>
                    <div class="mid_top_rect_blue"></div>
                    <div class="mid_top_round_green_2"></div>
                    <div class="mid_top_round_yellow_2"></div>
                    <div class="mid_top_rect_yellow"></div>
                    <div class="mid_top_weird_red"></div>
                    <div class="mid_top_div">
                        <div class="mid_top_frame">
                            <div class="mid_top_main_text">
                                <p class=""><%= user.work_place %></p>
                            </div> 
                            <div class="mid_top_text">
                                <p class=""><%= user.about_me %></p>
                            </div>
                            <a class="link_href" href="">
                                <div class="mid_icon">
                                    <img src="btn_icon/Book_me.svg" alt="hire me button" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="mid_top_image">
                        <img src="images/your_img.svg" alt="image of a person"/>
                    </div>
                </div>
                <div class="mid_bottom">
                    <div class="mid_bottom_upper_part">
                        <p class="upper_part_title">My Services</p>
                        <p class="upper_part_desc"><%= user.service_desc %></p>
                    </div>
                    <div class="mid_bottom_lower_part">
                        <div class="lower_part_service_options">
                            <img src="icon/coding.svg" alt="icon of services"/>
                            <p class="lower_part_1_title">web development</p>
                            <p class="lower_part_1_desc">blog, e-commerce</p>
                        </div>
                        <div class="lower_part_service_options">
                            <img src="icon/illustration.svg" alt="icon of services"/>
                            <p class="lower_part_1_title">uI/uX design</p>
                            <p class="lower_part_1_desc">Mobile app, website design</p>
                        </div>
                        <div class="lower_part_service_options">
                            <img src="icon/Microphone.svg" alt="icon of services"/>
                            <p class="lower_part_1_title">sound design</p>
                            <p class="lower_part_1_desc">Voice Over, Beat Making</p>
                        </div>
                        <div class="lower_part_service_options">
                            <img src="icon/game-development.svg" alt="icon of services"/>
                            <p class="lower_part_1_title">game design</p>
                            <p class="lower_part_1_desc">Character Design, Props & Objects</p>
                        </div>
                        <div class="lower_part_service_options">
                            <img src="icon/Photographer.svg" alt="icon of services"/>
                            <p class="lower_part_1_title">photography</p>
                            <p class="lower_part_1_desc">portrait, product photography</p>
                        </div>
                        <div class="lower_part_service_options">
                            <p class="lower_part_1_title">advertising</p>
                            <p class="lower_part_1_desc lower_part_1_desc_extra">other services also available upon request. feel free to ask any questions by clicking the link below</p>
                            <a class="order_link" href="">ORDER NOW ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mid Frame -->

            <!-- Right Frame -->
            <div class="right_frame">
                <div class="right_frame_top">
                    <a class="link_href" href="">
                        <img src="menu_icon/Contrast.svg" alt="menu icon option" />
                    </a>
                </div>
                <div class="right_frame_middle">
                    <div class="right_frame_middle_first">
                        <div class="pop_up_icon">Home</div>
                        <a class="link_href" href="">
                            <div class="menu_icon" style="background: #FFB400;">
                                <img src="menu_icon/Home.svg" alt="menu icon option" />
                            </div>
                        </a>
                    </div>
                    <div class="right_frame_middle_second">
                        <a class="link_href" href="">
                            <div class="menu_icon">
                                <img src="menu_icon/file_code.svg" alt="menu icon option" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon">
                                <img src="menu_icon/cv.svg" alt="menu icon option" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon">
                                <img src="menu_icon/Vector.svg" alt="menu icon option" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon">
                                <img src="menu_icon/Blog.svg" alt="menu icon option" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon">
                                <img src="menu_icon/Contact.svg" alt="menu icon option" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Right Frame -->
        </div>
    </div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>